NAME=DailyBible
AVATAR=https://www.google.com/url?sa=i&url=https%3A%2F%2Fopenthebible.org%2Farticle%2Fwhat-book-of-the-bible-should-a-new-believer-read-first%2F&psig=AOvVaw0wtw_6XckdYwaSzAZX_CFB&ust=1706205468094000&source=images&cd=vfe&opi=89978449&ved=0CBAQjRxqFwoTCMjwg-rM9oMDFQAAAAAdAAAAABAD
TYPE=bot
MAIN=index.js
RAM=100
AUTORESTART=true
VERSION=latest
APT=tools